<h3 class="card-title tournament-type-title float-left">Past {{format + ' '}}tournaments</h3>
<table class="table table-sm table-hover">
  <thead>
  <tr class="table-dark">
    <th scope="col">Name</th>
    <th scope="col">Format</th>
    <th scope="col">League</th>
    <th scope="col">Player Pool</th>
    <th scope="col">Start Time</th>
    <th scope="col">End Time</th>
  </tr>
  </thead>
  <tbody>
  <tr class="table-secondary">
    <td>Foo Bar</td>
    <td>Foo Bar</td>
    <td>Foo Bar</td>
    <td>Foo Bar</td>
    <td>Foo Bar</td>
    <td>Foo Bar</td>
  </tr>
  <tr class="table-secondary">
    <td>Foo Bar</td>
    <td>Foo Bar</td>
    <td>Foo Bar</td>
    <td>Foo Bar</td>
    <td>Foo Bar</td>
    <td>Foo Bar</td>
  </tr>
  <tr class="table-secondary">
    <td>Foo Bar</td>
    <td>Foo Bar</td>
    <td>Foo Bar</td>
    <td>Foo Bar</td>
    <td>Foo Bar</td>
    <td>Foo Bar</td>
  </tr>
  <tr class="table-secondary">
    <td>Foo Bar</td>
    <td>Foo Bar</td>
    <td>Foo Bar</td>
    <td>Foo Bar</td>
    <td>Foo Bar</td>
    <td>Foo Bar</td>
  </tr>
  </tbody>
</table>
