.announcement {
  width: 100%;
  height: 5%;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  color: #efefef;
  font-weight: bold;
  font-size: 0.7rem;
  background: #7f7006;
}

// color: #1f1f1f;
//background: #f5bbbf;
//#7d7f23;
