<div class="card card-{{feedItem.sourceType}} mb-3">
  <div class="card-body card-body-{{feedItem.sourceType}}">
    <div class="row">
      <a href="{{feedItem.link}}" class="stretched-link text-hide" target="_blank">{{feedItem.permalinkLabel}}</a>
      <div class="col-md-2 text-center">
        <img src="assets/images/{{feedItem.sourceType}}_logo.png" alt="{{feedItem.sourceType}}" class="feed-source-icon feed-source-icon-{{feedItem.sourceType}}"/>
      </div>
      <div class="col-md-10">
        <h4 class="card-title">{{feedItem.title}}</h4>
        <h5 class="card-subtitle text-muted mb-3">by {{feedItem.createdBy}}</h5>
        <div class="card-text feed-external-content" [innerHTML]="feedItem.description" *ngIf="feedItem.isHtml"></div>
        <p class="card-text" *ngIf="!feedItem.isHtml">
          {{feedItem.description}}
        </p>
        <div class="card-footer card-footer-{{feedItem.sourceType}}">
          <span class="text-muted">Published on {{feedItem.createdAt}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
