<div class="card card-{{feedItem.channel}} mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2 text-center">
        <img src="assets/images/{{feedItem.channel}}_logo.png" alt="{{feedItem.channel}}" class="feed-source-icon feed-source-icon-{{feedItem.channel}}"/>
      </div>
      <div class="col-md-10">
        <h4 class="card-title">{{feedItem.title}}</h4>
        <h5 class="card-subtitle text-muted mb-3">by {{feedItem.createdBy}}</h5>
        <div class="card-text feed-external-content card-text-{{feedItem.channel}}" [innerHTML]="feedItem.body" *ngIf="feedItem.isHtmlEnabled"></div>
        <p class="card-text" *ngIf="!feedItem.isHtmlEnabled" [innerHTML]="feedItem.body | slice:0:200"></p>
        <div class="card-footer card-footer-{{feedItem.channel}}">
          <span class="text-muted">Published on {{feedItem.createdAt}}</span>
        </div>
      </div>
      <a href="{{feedItem.link}}" class="stretched-link text-hide" target="_blank">{{feedItem.permalinkLabel}}</a>
    </div>
  </div>
</div>
