<div class="card border-secondary">
  <div class="card-header">Most played cards</div>
  <div class="featured-card">
    <img src="https://www.mtgpics.com/pics/big/ktk/249.jpg">
    <div class="card-body">
      <h6>Weekly Winner: [[Card Title]]</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item small">[Card 2]...</li>
    <li class="list-group-item small">[Card 3]...</li>
    <li class="list-group-item small">[Card 4]...</li>
    <li class="list-group-item small">[Card 5]...</li>
    <li class="list-group-item small">[Card 6]...</li>
    <li class="list-group-item small">[Card 7]...</li>
    <li class="list-group-item small">[Card 8]...</li>
    <li class="list-group-item small">[Card 9]...</li>
    <li class="list-group-item small">[Card 10]...</li>
  </ul>
</div>
