.bracket-help-img {
  max-width: 40rem;
  max-height: 30rem;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.tips-body {
  .tab-content {
    .tab-pane {
      min-height: 4rem;
    }
  }
}
