<div class="tips-body">
  <h3>Tips</h3>
  <hr/>
  <h4>Bracket Types</h4>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#single-elimination">Single Elimination</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#double-elimination">Double Elimination</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#round-robin">Round Robin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#swiss">Swiss</a>
    </li>
  </ul>
  <br/>
  <div id="bracket-type-tips" class="tab-content">
    <div class="tab-pane fade active show" id="single-elimination">
      <p>A single-elimination, knockout, or sudden death tournament is a type of elimination tournament where the
        loser of each match-up is immediately eliminated from the tournament. Each winner will play another in the
        next round, until the final match-up, whose winner becomes the tournament champion. Each match-up may be a
        single match or several, for example two-legged ties in European football or best-of series in American pro
        sports. Defeated competitors may play no further part after losing, or may participate in "consolation" or
        "classification" matches against other losers to determine the lower final rankings.
        <cite>- <a href="https://en.wikipedia.org/wiki/Single-elimination_tournament" target="_blank">Wikipedia</a></cite>
      </p>
      <img src="/assets/images/brackets/single-elim.jpg" class="bracket-help-img">
    </div>
    <div class="tab-pane fade" id="double-elimination">
      <p>A double-elimination tournament is a type of elimination tournament competition in which a participant
        ceases to be eligible to win the tournament's championship upon having lost two games or matches. It stands
        in contrast to a single-elimination tournament, in which only one defeat results in elimination.
        <cite>- <a href="http://www.printerfriend.ly/brackets/10-teams/double-elimination/" target="_blank">Wikipedia</a></cite>
      </p>
      <img src="/assets/images/brackets/double-elim.png" class="bracket-help-img">
    </div>
    <div class="tab-pane fade" id="round-robin">
      <p>A round-robin tournament (or all-play-all tournament) is a competition in which each contestant meets all
        other contestants in turn. A round-robin contrasts with an elimination tournament, in which participants are
        eliminated after a certain number of losses.
        <br/><br/>
        In a single round-robin schedule, each participant plays every other participant once. Round-robins can suffer
        from being too long compared to other tournament types, and with later scheduled games potentially not having
        any substantial meaning. They may also require tie-breaking procedures.
        <cite>- <a href="https://en.wikipedia.org/wiki/Round-robin_tournament" target="_blank">Wikipedia</a></cite>
      </p>
      <img src="/assets/images/brackets/round-robin.png" class="bracket-help-img">
    </div>
    <div class="tab-pane fade" id="swiss">
      <p>A Swiss-system tournament is a non-eliminating tournament format that features a set number of rounds of
        competition, but considerably fewer than that of a round-robin tournament. In a Swiss tournament, each
        competitor (team or individual) does not necessarily play all other entrants. Competitors meet one-on-one
        in each round and are paired using a set of rules designed to ensure that each competitor plays opponents
        with a similar running score, but not the same opponent more than once. The winner is the competitor
        with the highest aggregate points earned in all rounds. All competitors play in each round unless there
        is an odd number of players.
        <cite>- <a href="https://en.wikipedia.org/wiki/Swiss-system_tournament" target="_blank">Wikipedia</a></cite>
      </p>
      <img src="/assets/images/brackets/swiss.png" class="bracket-help-img">
    </div>
  </div>
  <hr/>
  <h4>Rule Enforcement Levels (REL)</h4>
  <p>REL or Rules Enforcement Level is, literally, the level of application of the rules. What does it mean?
    Magic is a very broad game with both new players at their first deck and old experienced players that travel
    all around the world looking for GPs and other tournaments where they can face other player seeking
    imperishable fame in the Hall of Fame.
    <cite>- <a href="https://blogs.magicjudges.org/playerexperience/2016/03/01/rules-enforcement-level-what-are-they-and-what-they-imply/" target="_blank">MTG Judges</a></cite>
  </p>
  <br/>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#regular">Regular</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#competitive">Competitive</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#professional">Professional</a>
    </li>
  </ul>
  <br/>
  <div id="reltips" class="tab-content">
    <div class="tab-pane fade active show" id="regular">
      <p>
        Regular events are FNMs, Game Days and all other events where no decklist is required. The aim of these
        events is, first of all, the opportunity of interaction and fun for new players. Judges here may assist
        players in order to master the game’s mechanics.
        <br/>
        <br/>
        Because of the educational nature of the Regular REL, exchange of information between players should be
        as cordial and relaxed as possible. To the question “What is your hand size?”, the player must answer
        honestly, with the number of cards they have,, as well as for the number of cards in his graveyard, etc.
        A player will still be free to lie about private information, such as the number of copies of a certain
        card in his deck.
      </p>
    </div>
    <div class="tab-pane fade" id="competitive">
      <p>Grand Prix Trial (GPT), Preliminary Pro Tour Qualifier (pPTQ), Regional Pro Tour Qualifier (RPTQ),
        Grand Prix (GP) Day 1 and World Magic Cup Qualifiers (WMCQ) are events where Competitive REL is applied.
        <br/>
        While at Regular REL judges try to educate players as much as possible and try to fix problems and solve
        everything with a verbal caution and a pat on the back, at Competitive REL, instead, judges are required
        to ensure the integrity of the tournament and – only where it is possible- to rewind the game until before
        the first infraction.
        <br/><br/>
        <span class="font-weight-bold">It’s important to notice that at Competitive and Professional REL the Infraction Procedure Guide (IPG) is applied.</span>
      </p>
    </div>
    <div class="tab-pane fade" id="professional">
      <p>Before closing this article I wish to spend some more words about the Professional REL. This REL is applied
        during Grand Prix Day 2, Pro Tour (PT) and the World Magic Cup (WMC).
        <br/>
        It is the highest REL, distinguishing those very particular events where players can participate only by
        invitation or merits previously acquired, as being member of the Pro Player Club, having won a PTQ or
        having achieved a significant result at a GP.
        <br/><br/>
        <span class="font-weight-bold">It’s important to notice that at Competitive and Professional REL the Infraction Procedure Guide (IPG) is applied.</span>
      </p>
    </div>
  </div>
</div>
