<div style="margin-top: 5rem;"></div>
<footer class="footer">
  <div class="container-fluid text-muted small">
    <p class="float-left">
      Any information about Magic: The Gathering, both literal and graphical, is copyrighted by Wizards of the Coast. This website is not produced, endorsed, supported, or affiliated with Wizards of the Coast.
      This site is not owned by or associated with Cockatrice or Rooster Ranges.
    </p>
    <p class="float-right">
      Copyright &copy; FreeTop8 2020
    </p>
  </div>
</footer>
