.format-header {
  font-family: Tahoma, Helvetica, Arial, Sans-Serif;
  text-align: center;
  font-size: 2.5em;
  color: rgba(34, 32, 0, 0.6);
  text-shadow: 0px 2px 3px #555;
}

.format-header-icon {
  height: 5rem;
}
