<div class="container-fluid mt-3 animated fadein">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-md-4 text-center">
              <h1 class="format-header">{{format}}</h1>
<!--              <img src="/assets/images/formats/{{format.toLowerCase()}}.png" class="format-header-icon">-->
            </div>
            <div class="col-sm-4 text-align-right">
              <app-new-tournament-button [format]=format></app-new-tournament-button>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-lg-3 mb-3">
              <app-format-meta-list [format]=format></app-format-meta-list>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12 mb-3">
                  <app-active-tournaments-list [format]=format></app-active-tournaments-list>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 mb-3">
                  <div class="card border-primary">
                    <div class="card-header bg-light">
                      <ul class="nav nav-pills">
                        <li class="nav-item">
                          <a class="nav-link pointer" (click)="setMode('feed')" [ngClass]="{'active': getMode() == 'feed'}">Feed</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link pointer" (click)="setMode('upcoming')" [ngClass]="{'active': getMode() == 'upcoming'}">Upcoming Tournaments</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link pointer" (click)="setMode('past')" [ngClass]="{'active': getMode() == 'past'}">Past Tournaments</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link pointer" (click)="setMode('own')" [ngClass]="{'active': getMode() == 'own'}">My Tournaments</a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-body" *ngIf="getMode() === 'feed'">
                      <app-format-feed-list [format]="format"></app-format-feed-list>
                    </div>
                    <div class="card-body" *ngIf="getMode() === 'upcoming'">
                      <app-upcoming-tournaments-list [format]="format"></app-upcoming-tournaments-list>
                    </div>
                    <div class="card-body" *ngIf="getMode() === 'past'">
                      <app-past-tournaments-list [format]="format"></app-past-tournaments-list>
                    </div>
                    <div class="card-body" *ngIf="getMode() === 'own'">
                      <app-my-tournaments-list [format]=format></app-my-tournaments-list>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <app-format-most-played-cards [format]=format></app-format-most-played-cards>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
