<div class="card text-white bg-dark">
  <div class="card-header">Currently active {{format + ' '}}events</div>
  <div class="card-body">
    <table class="table table-hover table-sm table-borderless">
      <thead>
      <tr class="bg-dark text-white">
        <th scope="col">Name</th>
        <th scope="col">Format</th>
        <th scope="col">League</th>
        <th scope="col">Player Pool</th>
        <th scope="col">Start Time</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-secondary">
        <td>Foo Bar</td>
        <td>Foo Bar</td>
        <td>Foo Bar</td>
        <td>Foo Bar</td>
        <td>Foo Bar</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
